![Image of LetsUpgrade](https://media-exp1.licdn.com/dms/image/C511BAQHd9Z1TO0t-0A/company-background_10000/0?e=2159024400&v=beta&t=t5kx7AY2sqMmoMcv_lnr6cDWkd65C1l01I-DXH7iNs8)

# Day 1

# Connect me@

# https://www.linkedin.com/in/dr-darshan-ingle-corporate-trainer/

In [1]:
1+1

2

In [2]:
2*9

18

In [3]:
2**3

8

In [4]:
print("Hi LetsUpgrade")

Hi LetsUpgrade

In [5]:
print("Hi Darshan")

Hi Darshan

In [6]:
print("I am fine. How are you")

I am fine. How are you

In [7]:
print("I am fine.nHow are you")

I am fine.nHow are you

Escape sequences are 

\n means Newline

\t means Tab

In [8]:
print("I am fine.\nHow are you")

I am fine.
How are you

In [9]:
print("I am fine.\tHow are you")

I am fine.	How are you

Program to perform addition of two numbers.

In [16]:
a = 5 # a is a Variable and 5 is a constant
b = 3 # # b is a Variable and 3 is a constant
c = a+b
print("c")
print(a)
print(b)
print(c)

c
5
3
8

In [29]:
a = 20
b = 300
c = a+b
print("Addition of a=",a,"and b=",b,"is c=",c)

Addition of a= 20 and b= 300 is c= 320

In [31]:
a = 10
print(a)
print( type(a) )

10
<class 'int'>

In [33]:
type(10)

int

In [34]:
type(2.035464)

float

In [35]:
type(-54646.1161)

float

In [36]:
type("Darshan")

str

In [37]:
type('Lets Upgrade')

str

In [38]:
type(True)

bool

In [39]:
type(False)

bool

In [40]:
type(2+3j)

complex

In [41]:
a = 2+3j
b = 5+6j
print(a+b)

(7+9j)

In [42]:
print("Darshan")

Darshan

In [45]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [47]:
len(keyword.kwlist)

35

In [48]:
print("while")

while

In [52]:
c = 45
print(c)
print(type(c))
print(c)

45
<class 'int'>
45

# Operators

In [55]:
# Arithmetic
print(2+3)
print(2-3)
print(2*3)
print(7/2)
print(7//2) # // Floor Division - Quotient
print(7%2) # % Modulo - Remainder

5
-1
6
3.5
3
1

In [62]:
# Relational < <= > >= == !=
print(2<3)
print(3<1)
print(3<=5)
print(4==4)
print(5==4)
print(5!=4)

True
False
True
True
False
True

In [64]:
# Membership: in, not in

'a' in "Darshan"

True

In [65]:
'A' in "Darshan"

False

In [66]:
'a' not in "Darshan"

False

In [67]:
22 in [10,22,33,55,12,14]

True

In [72]:
a=5
print(id(a)) # Address of a in RAM
b=5
print(id(b)) # Address of b in RAM
b=45
print(id(b)) # Address of b in RAM

140715890456480
140715890456480
140715890457760

In [73]:
a=5
print(id(a)) # Address of a in RAM
b=5
print(id(b)) # Address of b in RAM
b=5.0
print(id(b)) # Address of b in RAM

140715890456480
140715890456480
1656644333232

# Conditional statements:

if

elif

else

In [76]:
x = 5
if x==5:
    print("Value of x=",x)
    print("Hi I am Dr. Darshan Ingle")
print("I am out of if statement")

Value of x= 5
Hi I am Dr. Darshan Ingle
I am out of if statement

In [78]:
x = 15
if x==5:
    print("Value of x=",x)
    print("Hi I am Dr. Darshan Ingle")
print("I am out of if statement")

I am out of if statement

In [81]:
# Program to check if the input number is even or odd
x = 60
if x%2 == 0:
    print(x,"is an Even Number")
else:
    print(x,"is a Odd Number")

60 is an Even Number

In [83]:
x = 35
if x>35:
    print(x,"is greater than 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

35 is equal to 35

In [85]:
x = 350
if x>35:
    print(x,"is greater than 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

350 is greater than 35

In [86]:
x = 3
if x>35:
    print(x,"is greater than 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

3 is less than 35

# Input Output in Python

In [91]:
x = input()
print("x is",x)

Darshan
x is Darshan

In [93]:
x = input("Enter the value of x:")
print("x is",x)

Enter the value of x:Lets Upgrade
x is Lets Upgrade

In [94]:
no1 = input("Enter 1st number:")
no2 = input("Enter 2nd number:")
add = no1 + no2
print("Addition is",add)

Enter 1st number:75
Enter 2nd number:25
Addition is 7525

In [96]:
s1 = "Darshan"
s2 = " is a trainer at Lets Upgrade"
print(s1+s2)

Darshan is a trainer at Lets Upgrade

In [97]:
s1 = "75"
s2 = "25"
print(s1+s2)

7525

In [95]:
x = input("Enter input:")
print(x)
print(type(x))

Enter input:75
75
<class 'str'>

In [102]:
a = "75"
print(a)
print(type(a))
b = int(a)
print(b)
print(type(b))

75
<class 'str'>
75
<class 'int'>

In [101]:
no1 = int(input("Enter 1st number:"))
no2 = int(input("Enter 2nd number:"))
add = no1 + no2
print("Addition is",add)

Enter 1st number:75
Enter 2nd number:25
Addition is 100

# Happy Learning

# Day 2

In [3]:
l = [10,20,30,40,3.1416,2+3j,False,"Darshan"]
print(l)
print(type(l))

[10, 20, 30, 40, 3.1416, (2+3j), False, 'Darshan']
<class 'list'>

In [4]:
# Loops
# for loop:

l = [10,20,30,40]
for i in l:
    print(i)

10
20
30
40

In [8]:
l = ["Darshan","Ingle","LetsUpgrade"]
for var in l:
    print(var)

Darshan
Ingle
LetsUpgrade

In [10]:
l = ["Darshan","Ingle","LetsUpgrade"]
for _ in l:
    print(_)

Darshan
Ingle
LetsUpgrade

# while loop

SYNTAX:

initialization
while condition:
    do this
    do this
    increment/decrement

In [13]:
# Program to print numbers from 1 to 10

i=1
while i<=10:
    print(i,end=" ")
    i = i+1

1 2 3 4 5 6 7 8 9 10

In [15]:
# Program to print numbers from 10 to 1

i=10
while i>=1:
    print(i,end=" ")
    i = i-1

10 9 8 7 6 5 4 3 2 1

In [21]:
# end attribute

for i in [11,12,13,14,15]:
    print(i,end=" ")

11 12 13 14 15

In [23]:
# end attribute

for i in [11,12,13,14,15]:
    print(i,end="\n")

11
12
13
14
15

In [25]:
# end attribute

for i in [11,12,13,14,15]:
    print(i)

11
12
13
14
15

# Functions

In [31]:
# Built-in Functions

print("Hello Learners")
print(type("Darshan"))
print(int(12.1245))
print(float(25))
print(pow(5,3))

Hello Learners
<class 'str'>
12
25.0
125

In [35]:
# User Defined Functions:

def greet():
    print("Hello")
    print("Learners of LetsUpgrade")

greet()
print("Back from Function")

Hello
Learners of LetsUpgrade
Back from Function

In [47]:
for i in range(5):
    greet()

Hello
Learners of LetsUpgrade
Hello
Learners of LetsUpgrade
Hello
Learners of LetsUpgrade
Hello
Learners of LetsUpgrade
Hello
Learners of LetsUpgrade

In [42]:
for i in range(3):
    print(i,end=" ")

0 1 2

In [44]:
for i in range(3,9):
    print(i,end=" ")

3 4 5 6 7 8

In [48]:
for i in range(1,7,2):
    print(i,end=" ")

1 3 5

In [53]:
def mno(a):
    print(pow(a,2))
mno(float(input("Enter the number to be squared:")))

Enter the number to be squared:5
25.0

In [63]:
def mno(a):
    print(a*3)

mno(5)
mno(1.5)
mno("Darshan")
mno([1,2,3])

15
4.5
DarshanDarshanDarshan
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [61]:
def calculator(a,b):
    print("Add=",a+b)
    print("Sub=",a-b)
    print("Mul=",a*b)
    print("Div=",a/b)

a = float(input("Enter 1st no:"))
b = float(input("Enter 2nd no:"))
calculator(a,b)

Enter 1st no:8
Enter 2nd no:2
Add= 10.0
Sub= 6.0
Mul= 16.0
Div= 4.0

In [62]:
def calculator(a,b):
    print("Add=",a+b)
    print("Sub=",a-b)
    print("Mul=",a*b)
    print("Div=",a/b)

calculator(float(input("Enter 1st no:")),float(input("Enter 2nd no:")))

Enter 1st no:8
Enter 2nd no:2
Add= 10.0
Sub= 6.0
Mul= 16.0
Div= 4.0

# String

In [80]:
s = "Darshan"
print(s)
print(type(s))
# Indexing
print(s[0])
print(s[6])
# print(s[9]) # Error
print(s[-1])
print(s[6]==s[-1])
print(s[-3])

Darshan
<class 'str'>
D
n
n
True
h

In [81]:
s = "Darshan"
print(s)
# Slicing
print(s[1:5])
print(s[1:3])
print(s[:4])
print(s[3:])
print(s[-6:-2])
print(s[:7])

Darshan
arsh
ar
Dars
shan
arsh
Darshan

In [83]:
s="Darshan"
print(s)
print(type(s))
# Convert String to a List - using list()
l = list(s)
print(l)
print(type(l))

Darshan
<class 'str'>
['D', 'a', 'r', 's', 'h', 'a', 'n']
<class 'list'>

In [85]:
# List
str1 = "Darshan"
s = list(str1)
print(s)
print(type(s))
# Indexing
print(s[0])
print(s[6])
# print(s[9]) # Error
print(s[-1])
print(s[6]==s[-1])
print(s[-3])

['D', 'a', 'r', 's', 'h', 'a', 'n']
<class 'list'>
D
n
n
True
h

In [87]:
# List
str1 = "Darshan"
s = list(str1)
print(s)
# Slicing
print(s[1:5])
print(s[1:3])
print(s[:4])
print(s[3:])
print(s[-6:-2])
print(s[:7])

['D', 'a', 'r', 's', 'h', 'a', 'n']
['a', 'r', 's', 'h']
['a', 'r']
['D', 'a', 'r', 's']
['s', 'h', 'a', 'n']
['a', 'r', 's', 'h']
['D', 'a', 'r', 's', 'h', 'a', 'n']

In [90]:
# List are Mutable
l = [1,2,3,4]
print(l)
print(l[0])
l[0] = "Darshan"
print(l)
print(l[0])

[1, 2, 3, 4]
1
['Darshan', 2, 3, 4]
Darshan

In [92]:
# Tuple are Immutable
l = (1,2,3,4)
print(l)
print(l[0])
l[0] = "Darshan"
print(l)
print(l[0])

(1, 2, 3, 4)
1

TypeError: 'tuple' object does not support item assignment

In [94]:
# String are Immutable
s = "Darshan"
print(s)
print(s[0])
s[1]="X"
print(s)
print(s[0])

Darshan
D

TypeError: 'str' object does not support item assignment

In [96]:
# Tuple
str1 = "Darshan"
s = tuple(str1)
print(s)
print(type(s))
# Indexing
print(s[0])
print(s[6])
# print(s[9]) # Error
print(s[-1])
print(s[6]==s[-1])
print(s[-3])

('D', 'a', 'r', 's', 'h', 'a', 'n')
<class 'tuple'>
D
n
n
True
h

In [97]:
# Tuple
str1 = "Darshan"
s = tuple(str1)
print(s)
# Slicing
print(s[1:5])
print(s[1:3])
print(s[:4])
print(s[3:])
print(s[-6:-2])
print(s[:7])

('D', 'a', 'r', 's', 'h', 'a', 'n')
('a', 'r', 's', 'h')
('a', 'r')
('D', 'a', 'r', 's')
('s', 'h', 'a', 'n')
('a', 'r', 's', 'h')
('D', 'a', 'r', 's', 'h', 'a', 'n')

In [100]:
# Set - { }
# It is unordered and unindexed

s = {"Apple",25,"oranges",5.124}
print(s)

{25, 'Apple', 5.124, 'oranges'}

In [102]:
s = {10,20,30}
print(s)
print(s[0])

{10, 20, 30}

TypeError: 'set' object is not subscriptable

In [107]:
# Dictionary : { KEY : VALUE }

d = { 1 : "COMP" , 2 : "EXTC" , 3 : "IT" } 
print(d)
print(type(d))
print(d[1])
print(d[3])

{1: 'COMP', 2: 'EXTC', 3: 'IT'}
<class 'dict'>
COMP
IT

In [112]:
# Dictionary : { KEY : VALUE }

d = { 2.23:"Darshan" , 12: 10.25 , "Darshan":125, 2655:2+3j}
print(d)
print(type(d))
print(d[2.23])
print(d["Darshan"])
print(d[2655])

{2.23: 'Darshan', 12: 10.25, 'Darshan': 125, 2655: (2+3j)}
<class 'dict'>
Darshan
125
(2+3j)

In [114]:
d = {1:100, 2:50, 1:999}
print(d)

{1: 999, 2: 50}

In [122]:
# String Functions
s = "dArShaN"
t = "an APple a Day Keeps the DoctoR awaY"
print(t.capitalize())
print(s.lower())
print(s.upper())
print(s.swapcase())
s1="Darshan"
print(s1.replace('a','x'))
print(s1.replace('a','x',1))

An apple a day keeps the doctor away
darshan
DARSHAN
DaRsHAn
Dxrshxn
Dxrshan

In [128]:
# List Functions

l = [1,2,3,4,5]
print(l)
l.append("Darshan")
print(l)
l.append("Ingle")
print(l)
l.extend([100,200,"Lets Upgrade", "Learners"])
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'Darshan']
[1, 2, 3, 4, 5, 'Darshan', 'Ingle']
[1, 2, 3, 4, 5, 'Darshan', 'Ingle', 100, 200, 'Lets Upgrade', 'Learners']

In [131]:
l = [5,1,8,4,7,2]
print(l)
l.sort()
print(l)

[5, 1, 8, 4, 7, 2]
[1, 2, 4, 5, 7, 8]

In [134]:
l = [5,1,8,4,7,2]
print(l)
l.sort(reverse=True)
print(l)
l.reverse()
print(l)

[5, 1, 8, 4, 7, 2]
[8, 7, 5, 4, 2, 1]
[1, 2, 4, 5, 7, 8]

In [136]:
l = [1,2,3,5]
print(l)
l.insert(3,"Darshan")
print(l)

[1, 2, 3, 5]
[1, 2, 3, 'Darshan', 5]

In [137]:
# Tuple
t = (1,6,5,3)
print(len(t))
print(max(t))
print(min(t))

4
6
1

In [138]:
# Set

s = {"apple","banana","cherry"}
for i in s:
    print(i)

banana
cherry
apple

In [148]:
s = {"apple","banana","cherry"}
print("banana" in s)
print("oranges" in s)
s.add("oranges")
print(s)
print("oranges" in s)
s.update(["mangoes","watermelon","papaya"])
print(s)
print(len(s))
s.remove("mangoes")
print(s)
s.add("watermelon")
print(s)

True
False
{'banana', 'cherry', 'apple', 'oranges'}
True
{'banana', 'mangoes', 'apple', 'watermelon', 'papaya', 'cherry', 'oranges'}
7
{'banana', 'apple', 'watermelon', 'papaya', 'cherry', 'oranges'}
{'banana', 'apple', 'watermelon', 'papaya', 'cherry', 'oranges'}

In [156]:
# Dictionary Functions

d = {1:"COMP" , 2:"IT", 3:"EXTC"}
print(d)
print(type(d))
print(str(d))
print(type(str(d)))
print(d.keys())
print(type(d.keys()))
print(list(d.keys()))
print(d.values())
print(d)
del d[1]
print(d)
d.clear()
print(d)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
<class 'dict'>
{1: 'COMP', 2: 'IT', 3: 'EXTC'}
<class 'str'>
dict_keys([1, 2, 3])
<class 'dict_keys'>
[1, 2, 3]
dict_values(['COMP', 'IT', 'EXTC'])
{1: 'COMP', 2: 'IT', 3: 'EXTC'}
{2: 'IT', 3: 'EXTC'}
{}

In [158]:
d1 = {1: 'COMP', 2: 'IT', 3: 'EXTC'}
d2 = {4:"BIOTECH"}
print(d1)
print(d2)
d1.update(d2)
print(d1)
print(d2)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
{4: 'BIOTECH'}
{1: 'COMP', 2: 'IT', 3: 'EXTC', 4: 'BIOTECH'}
{4: 'BIOTECH'}

# Happy Learning