Name = Kishan Kumar Rai

Email = kishan.rai99693@gmail.com

# Questions 1:
How to import pandas and check the version?

In [1]:
import pandas as pd
print(pd.__version__)

1.1.4

# Questions 2:
How to create a series from a numpy array?

In [4]:
import numpy as np
arr = np.array(["a", "e", "i", "o" , "u"])

array = pd.Series(arr)
print(array)

0    a
1    e
2    i
3    o
4    u
dtype: object

# Questions 3:
How to convert the index of a series into a column of a dataframe?

In [9]:
import numpy as np
import pandas as pd
arr = np.array(["a", "e", "i", "o" , "u"])

array = pd.Series(arr, index=[1,2,3,4,5])

data = pd.DataFrame(array, columns=["Vowels"])

print(data)

  Vowels
1      a
2      e
3      i
4      o
5      u

# Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset

In [10]:
import seaborn as sns

mpg = sns.load_dataset('mpg')

print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

# Questions 5:
Which country origin cars are a part of this dataset?

In [13]:
mpg = sns.load_dataset('mpg')

df = pd.DataFrame(mpg)

df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

# Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [16]:
mpg = sns.load_dataset('mpg')

df = pd.DataFrame(mpg)

df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]